<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sixin.iot.mapper.MeteorMapper">
    <resultMap type="com.sixin.iot.domain.Meteor" id="MeteorResult">
        <result property="id"    column="id"    />
        <result property="cid"    column="cid"    />
        <result property="ctype"    column="ctype"    />
        <result property="vdata"    column="vdata"    />
        <result property="vunit"    column="vunit"    />
        <result property="colldate" column="colldate" />
        <result property="collip" column="collip" />
        <result property="startdate" column="startdate" />
        <result property="exdate" column="exdate" />
        <result property="deptid" column="deptid" />
        <result property="uid" column="uid" />
        <result property="delflag" column="delflag" />
        <result property="demo" column="demo" />
        <result property="status" column="status" />
    </resultMap>
    <!--定义selectMeteor为查询整表命令-->
    <sql id="selectMeteor">
   select distinct(a.id),a.ctype,cid,vdata,vunit,a.status,colldate,collip,a.startdate,a.exdate,a.deptid,a.uid,u.user_name,a.demo,a.delflag
    from iotdata.tb_collect a
         inner join ry.sys_dept b on a.deptid=b.dept_id
         inner join ry.sys_user u on a.uid=u.user_id
         inner join iotdata.tb_ioterminal d on a.cid = d.imei
    </sql>
    <!--统计表中记录数
    <select id="countall" resultType="Integer">
        select
               count(*)
        from iot_Meteor
    </select>
    -->
    <!--查询表的所有列表信息-->
    <select id="selectMeteorList" parameterType="com.sixin.iot.domain.Meteor" resultMap="MeteorResult">
        <include refid="selectMeteor"/>
        <where>
            a.ctype='气象'
            <if test="id != null and id != ''">
                AND a.id like concat('%', #{id}, '%')
            </if>
            <if test="cid != null and cid != ''">
                AND cid like concat('%', #{cid}, '%')
            </if>
            <if test="colldate != null ">
                AND colldate like concat('%', #{colldate}, '%')
            </if>

            <if test="vunit != null and vunit != ''">
                AND vunit like concat('%', #{vunit}, '%')
            </if>
            <if test="vdata != null ">
                and vdata like concat('%',#{vdata},'%')
            </if>
            <if test="collip != null and collip != ''">
                AND collip like concat('%', #{collip}, '%')
            </if>
            <if test="startdate != null ">
                AND a.startdate like concat('%', #{startdate}, '%')
            </if>
            <if test="exdate != null ">
                AND a.exdate like concat('%', #{exdate}, '%')
            </if>

            <if test="deptid != null and deptid != ''">
                AND a.deptid like concat('%', #{deptid}, '%')
            </if>
            <if test="uid != null and uid != ''">
                AND a.uid like concat('%', #{uid}, '%')
            </if>
            <if test="delflag != null and delflag != ''">
                AND a.delflag like concat('%', #{delflag}, '%')
            </if>

            <if test="demo != null and demo != ''">
                AND a.demo like concat('%', #{demo}, '%')
            </if>
            <if test="status != null and status != ''">
                AND a.status like concat('%', #{status}, '%')
            </if>
        </where>
    </select>

    <!--根据id查询信息-->
    <select id="selectByid" parameterType="Long" resultMap="MeteorResult">
        <include refid="selectMeteor"/>
        where a.id = #{id}
    </select>
    <select id="queryList" parameterType="com.sixin.iot.domain.Torrent" resultType="com.sixin.iot.domain.Torrent">
        select id,imei,ctype,deptid from iotdata.tb_ioterminal a inner join ry.sys_dept d on a.deptid=d.dept_id
        where ctype='气象'
        <if test="deptid != null and deptid != ''">
            AND a.deptid like concat('%', #{deptid}, '%')
        </if>
    </select>
    <!--向表中插入新数据-->
    <insert id="insertMeteor" parameterType="com.sixin.iot.domain.Meteor">
        insert into tb_collect
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id!='' ">id,</if>
            <if test="cid != null  and cid != ''  ">cid,</if>
            <if test="ctype != null  and ctype != ''  ">ctype,</if>
            <if test="vdata != null">vdata,</if>
            <if test="vunit != null  and vunit != ''  ">vunit,</if>
            <if test="status != null  and status != ''  ">status,</if>
            <if test="colldate != null  ">colldate,</if>
            <if test="collip != null  and collip != ''  ">collip,</if>
            <if test="startdate != null  ">startdate,</if>
            <if test="exdate != null ">exdate,</if>
            <if test="deptid != null  and deptid != ''  ">deptid,</if>
            <if test="uid != null  and uid != ''  ">uid,</if>
            <if test="demo != null  and demo != ''  ">demo,</if>
            <if test="delflag != null  and delflag != ''  ">delflag,</if>
        </trim>
        values<trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null and id!='' ">#{id},</if>
        <if test="cid != null  and cid != ''  ">#{cid},</if>
        <if test="ctype != null  and ctype != ''  ">#{ctype},</if>
        <if test="vdata != null  and vdata != ''  ">#{vdata},</if>
        <if test="vunit != null  and vunit != ''  ">#{vunit},</if>
        <if test="status != null  and status != ''  ">#{status},</if>
        <if test="colldate != null">#{colldate},</if>
        <if test="collip != null  and collip != ''  ">#{collip},</if>
        <if test="startdate != null ">#{startdate},</if>
        <if test="exdate != null ">#{exdate},</if>
        <if test="deptid != null  and deptid != ''  ">#{deptid},</if>
        <if test="uid != null  and uid != ''  ">#{uid},</if>
        <if test="demo != null  and demo != ''  ">#{demo},</if>
        <if test="delflag != null  and delflag != ''  ">#{delflag},</if>
    </trim>
    </insert>

    <!--更新数据-->
    <update id="updateMeteor" parameterType="com.sixin.iot.domain.Meteor">
        update tb_collect
        <set>
            <if test="cid != null  and cid != ''  ">cid = #{cid},</if>
            <if test="ctype != null  and ctype != ''  ">ctype = #{ctype},</if>
            <if test="vdata != null  ">vdata = #{vdata},</if>
            <if test="vunit != null  and vunit != ''  ">vunit = #{vunit},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="colldate != null   ">colldate = #{colldate},</if>
            <if test="collip != null  and collip != ''  ">collip = #{collip},</if>
            <if test="startdate != null ">startdate = #{startdate},</if>
            <if test="exdate != null  ">exdate = #{exdate},</if>
            <if test="deptid != null  and deptid != ''  ">deptid = #{deptid},</if>
            <if test="uid != null  and uid != ''  ">uid = #{uid},</if>
            <if test="demo != null  and demo != ''  ">demo = #{demo},</if>
            <if test="delflag != null  and delflag != ''  ">delflag = #{delflag},</if>
        </set>
        where id = #{id}
    </update>

    <!--根据id删除-->
    <delete id="deleteMeteorByid" parameterType="Long">
      delete from tb_collect where id = #{id}
    </delete>

    <!--批量删除-->
    <delete id="deleteMeteorByids" parameterType="String">
        delete from tb_collect where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectList" parameterType="com.sixin.iot.domain.Iotype" resultType="com.sixin.iot.domain.Iotype">
        select id,ctype from iotdata.tb_iotype
    </select>

    <select id="selectMeteorByids" parameterType="java.util.List" resultMap="MeteorResult">
        <include refid="selectMeteor"/>
        where a.id in
        <foreach collection="list" item="sfid" open="(" close=")" separator=",">
            #{sfid}
        </foreach>
    </select>

</mapper>