<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content"  >
    <form class="form-horizontal m" id="form-save-add" >
        <div class="form-group">
            <label class="col-sm-3 control-label">编号：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="id" id="id">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">安防类型：</label>
            <div class="col-sm-8">
                <select id="stype" name="stype" class="form-control m-b">
                    <option>=请选择=</option>
                    <option th:each="list:${securitype}" th:value="${list.name}" th:text="${list.name}">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">存放地址编号：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="treeId" onclick="selectDeptTree()" readonly="true" name="dept_id"  value="1003044001">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">设备编号：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="sno" id="sno">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">产品型号名称：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="sname" id="sname">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">生产企业：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="producer" id="producer">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">生产时间：</label>
            <div class="col-sm-8">
                <input class="form-control" type="datetime-local" name="prodtime" id="prodtime">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">采购单格：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="price" id="price">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">有效时间：</label>
            <div class="col-sm-8">
                <input class="form-control" type="datetime-local" name="endtime" id="endtime">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">安装时间：</label>
            <div class="col-sm-8">
                <input class="form-control" type="datetime-local" name="installtime" id="installtime">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">安装人员：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="installer" id="installer">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="demo" id="demo">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">设备状态：</label>
            <div class="col-sm-8">
                <select name="delflag" th:with="type=${@dict.getType('sys_normal_disable')}">
                    <option value="">所有</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "iot/save";
    var prefix1 = ctx + "system/dept";
    $("#form-save-add").validate({
        rules:{
            xxxx:{
                required:true,
            },
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-save-add').serialize());
        }
    }


    function selectDeptTree() {

        var url=prefix1 + "/selectDeptTree/"
        var options = {
            title: '部门选择',
            width: "380",
            url:prefix1 + "/selectDeptTree/" + $("#treeId").val(),
            callBack: doSubmit
        };
        $.modal.openOptions(options);

    }

    function doSubmit(index, layero){
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowParents(tree)) {
            var body = layer.getChildFrame('body', index);
            $("#treeId").val(body.find('#treeId').val());
            layer.close(index);
        }
    }
</script>
</body>
</html>
